Ques 1

In [2]:
i = 1
while i<6:
  print(i)
  i += 1

1
2
3
4
5

Ques 2

In [6]:
i = 1
sum = 0
while i<=10:
  sum = sum + i
  i += 1
print(sum)

55

Ques 3

In [7]:
n = int(input("Enter the number : "))
res = 1
for i in range(1,n+1):
  res = res*i
  i += 1
print(res)

Enter the number : 5
120

Ques 4

In [9]:
s = str(input("Enter the string: "))
count = 0
l = len(s)
for i in range(l):
  if (s[i] == "a" or s[i] == "e" or s[i] == "i" or s[i] == "o" or s[i] == "u"):
    count += 1
  else:
    continue
print (count)

Enter the string: tushar
2

Ques 5

In [22]:
#printing pyramid pattren
n = int(input("Enter the number"))
i = 0
while i<n:
  for j in range(1,n-i):
    print(" ",end="")
  for k in range(i+1):
    print("x ",end="")
  i += 1
  print()

Enter the number5
    x
   x x
  x x x
 x x x x
x x x x x

In [25]:
n = int(input("Enter the size of the multiplication table: "))
for i in range(1, n+1):
    for j in range(1, n+1):
        print(i * j, end='\t')
    print()

Enter the size of the multiplication table: 7
1	2	3	4	5	6	7
2	4	6	8	10	12	14
3	6	9	12	15	18	21
4	8	12	16	20	24	28
5	10	15	20	25	30	35
6	12	18	24	30	36	42
7	14	21	28	35	42	49